*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}

body{
    color: #fff;
    background-color: black;
}

#home{
    width: 100%;
    height: 100vh;
}

.header{
    padding: 10px 10%;
}

.logo{
    width: 200px;
    height: 80px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #2844cd;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

button {
    width: 150px;
    padding: 15px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 10px;
    font-weight: bold;
    background: transparent;
    border: 2px solid rgb(77, 122, 221);
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 0;
    font-size: 15px;
}

.crsr {
    background: rgb(77, 122, 221);
    height: 100%;
    width: 0;
    border-radius: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover {
    border: none;
}

button:hover span {
    width: 100%;
}

.pic{
    width: 500px;
    height: 450px;
    margin: 40px 20px;
    border-radius: 15px;
}

.hero h1{
    font-size: 60px;
    margin: 20px;
}

.hero p{
    font-size: 20px;
    margin: 20px;
}

.hero .blue{
    color: #2844cd;
    margin: 20px;
    font-size: 40px;

}

#about{
    padding: 80px 0;
    margin-top: 100px;
}

.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
    margin:0 50px;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 50%;
}

.about-col-2 h1{
    font-size: 45px;
    color: #2844cd;
}
.about-col-2 p{
    font-size: 18px;
    margin-top: 15px;
    padding-right: 15px;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links
{
    margin-right:50px;
    position: relative;
    font-weight: 500;
    cursor: pointer;
    position: relative;

}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #2844cd;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.blue{
    color: #2844cd;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

.projects{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 20px;
}

.title{
  text-align: center;
}

.title h1{
    font-size: 40px;
    text-decoration: underline #2844cd;
}

.project-img{
    transition:box-shadow;
    transition: ease-in-out 0.5s;
    width: 400px;
    height: 500px;
    margin: 50px;
    border-radius:10px;
    cursor: pointer;
    box-shadow: 10px 10px 10px rgb(34, 49, 86);
    padding-top: 140px;
    font-size: 40px;
    text-align: center;
}

.project-img:hover{
    box-shadow: 10px 10px 10px rgb(31, 82, 209);
    font-size: 45px;
}

#img1{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/img1.png);
    background-position: center;
    background-size: cover;
}

#img2{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/img2.png);
    background-position: center;
    background-size: cover;
}

#img3{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/img3.png);
    background-position: center;
    background-size: cover;
}

.redirect{
    margin-top: 80px;
}

.description{
    display: flex;
    padding: 0 20px ;
    margin-bottom: 80px;
    justify-content: space-around;
}

.description1{
    width: 400px;
    height: 200px;
    margin: 0 50px;
    border-radius:10px;
    box-shadow: 10px 10px 10px rgb(34, 49, 86);
    font-size: 18px;
    text-align: center;
    padding: 20px;
}


.contact-left{
    flex-basis: 35%;
    margin-left: 40px;
}

.contact-right{
    flex-basis: 60%;
    margin-right: 20px;
}

.social{
    color: #2844cd;
    text-decoration: none;
    margin-top: 30px;
}

.contact-left .title{
    font-size: 40px;
    text-align: left;
}

.contact-left p{
    margin-top: 30px;
    font-size: 18px;
}

.contact-left p ion-icon{
    color: #2844cd;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons a{
    margin-right: 15px;
    font-size: 30px;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: #fff;
    transform: translateY(-5px);
}

#btn{
    background: #2844cd;
    border: none;
    transition: transform 0.5s;
}

#btn:hover{
    transform: translateY(-5px);
    background-color: #2a3e9f;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form #btn{
    margin-top: 10px;
    margin-left: 0;
}

.copyright{
    width: 100%;
    padding: 25px;
    text-align: center;
    background-color: #262626;
    margin-top: 20px;
    font-weight: 400;
}














